<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.maaccount.mapper.AccountPayTerminalMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.maaccount.entity.AccountPayTerminal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accountId" property="accountId" jdbcType="CHAR" />
    <result column="terminalId" property="terminalId" jdbcType="VARCHAR" />
    <result column="groupId" property="groupId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accountId, terminalId, groupId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_account_pay_terminal_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectTerminalIds" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_account_pay_terminal_list
    where accountId = #{accountId}
    and groupId = #{groupId}
    and terminalId in (
    <foreach collection="terminalIds" item="item" index="index"
		  separator=",">
		   #{item}
		  </foreach>
	)
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_account_pay_terminal_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.maaccount.entity.AccountPayTerminal" >
    insert into t_account_pay_terminal_list (id, accountId, terminalId, 
      groupId)
    values (#{id,jdbcType=INTEGER}, #{accountId,jdbcType=CHAR}, #{terminalId,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.maaccount.entity.AccountPayTerminal" >
    insert into t_account_pay_terminal_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        accountId,
      </if>
      <if test="terminalId != null" >
        terminalId,
      </if>
      <if test="groupId != null" >
        groupId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=CHAR},
      </if>
      <if test="terminalId != null" >
        #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.maaccount.entity.AccountPayTerminal" >
    update t_account_pay_terminal_list
    <set >
      <if test="accountId != null" >
        accountId = #{accountId,jdbcType=CHAR},
      </if>
      <if test="terminalId != null" >
        terminalId = #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        groupId = #{groupId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.maaccount.entity.AccountPayTerminal" >
    update t_account_pay_terminal_list
    set accountId = #{accountId,jdbcType=CHAR},
      terminalId = #{terminalId,jdbcType=VARCHAR},
      groupId = #{groupId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>